<aside>
    <h2>API USAGE</h2>
    <br>
    <h4>Acces the catalog use the URL: http://server/api/catalog</h4>
    <p>Example: http://127.0.0.1:8000/api/catalog(for a local server)</p>
    <hr>
    <h4>Search a product by uuid use the URL: http://server/api/catalog/product/uuid</h4>
    <p>Example: http://127.0.0.1:8000/api/catalog/product/edit/1ed3cf06-3780-6e54-9ae4-9370db3525f0</p>
    <hr>
    <h4>Add a product use the URL: http://server/api/catalog/product/add</h4>
    <p>Example: http://127.0.0.1:8000/api/catalog/product/add</p>
    <h4 class="red_text">UNDER CONSTRUCTION -> use postman to add a product</h4>
    <hr>
    <h4>Edit a product use the URL: http://server/api/catalog/product/edit/uuid</h4>
    <p>Example: http://127.0.0.1:8000/api/catalog/product/edit/1ed3cf06-3780-6e54-9ae4-9370db3525f0</p>
    <h4 class="red_text">UNDER CONSTRUCTION -> use postman to edit a product</h4>
    <hr>
    <h4>Delete a product use the URL: http://server/api/catalog/product/delete/uuid</h4>
    <p>Example: http://127.0.0.1:8000/api/catalog/product/delete/1ed3cf06-3780-6e54-9ae4-9370db3525f0</p>
    <h4 class="red_text">UNDER CONSTRUCTION -> use postman to delete a product</h4>
</aside>